*.sqlite*
# Environment files
.env
.env.*
.env.backup

# Laravel config cache
bootstrap/cache/*.php

# Laravel storage
/storage/*
!/storage/app
!/storage/app/public
!/storage/framework
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/views
!/storage/logs
